.plate-img{
    display: block;
    width: 100%;
    height: 600px;
    filter: blur(3px)
}
.menu-container {
    position: relative;
  }
.menu-text-over-img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    text-align: center;
}